* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

p {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    letter-spacing: 0.5px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Didact Gothic', sans-serif;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #252627;
    overflow: hidden;
    letter-spacing: -0.03em;
    position: relative;
}

body {
    background-image: url('/src/media/background.svg');
}

.no-scroll {
    overflow: hidden;
}

body.no-bg {
    background-image: none !important;
    background-color: #ffffff;
}

.page-container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.page-content {
    grid-row: 2;
    grid-column: 1;
    letter-spacing: 0.5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 6vh 5vw;
    grid-row: 1;
    grid-column: 1;
}

header h1 {
    font-family: 'Archivo Black', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 86px;
    line-height: 64px;
    color: var(--navy-color);
    margin: 0;
}

header p {
    font-family: 'Didact Gothic', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: var(--navy-color);
    margin: 24px 0 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 21px;
    font-family: 'Didact Gothic', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #252627;
    padding: 2vh 5vw;
    padding: 3vh 5vw;
    bottom: 0px;
    width: 100vw;
    grid-row: 3;
    grid-column: 1;
}

.linkedin-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.linkedin-icon img {
    margin-right: 6px;
}

.content-view {
    width: 100%;
    gap: 1vh;
    overflow-y: scroll;
}

.content-view h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.content-view ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content-view li {
    margin-bottom: 10px;
}

.tools-logos img:hover {
    filter: none;
}

.center-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-top {
    margin-top: 3rem;
}

.table {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
    padding: 0px 10vw;
    overflow: hidden;
}

.col-1 {
    display: flex;
    flex-direction: column;
    grid-column: 1;
}

.col-2 {
    display: flex;
    flex-direction: column;
    grid-column: 2;
}